<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.acadep.acadepsistemas.rso">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera2" -->
    <!-- android:required="true" /> -->
    <!-- uses-permission android:name="android.permission.CAMERA"/ -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.acadep.acadepsistemas.rso.Clases.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.acadep.acadepsistemas.rso.Clases.MainActivity"
            android:label="RSO"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.acadep.acadepsistemas.rso.Clases.SupervisionActivity"
            android:label="Evidencia"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.acadep.acadepsistemas.rso.Clases.ExtraActivity" />

        <service android:name="com.acadep.acadepsistemas.rso.Notificaciones.MiFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.acadep.acadepsistemas.rso.Clases.RecuperacionContrasena" />
        <activity
            android:name="com.acadep.acadepsistemas.rso.Clases.Prueba.RecyclerTest"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.acadep.acadepsistemas.rso.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity android:name="com.acadep.acadepsistemas.rso.Clases.Prueba.MaterialsCheckList" />
        <activity android:name="com.acadep.acadepsistemas.rso.Clases.WebViewActivity" />
        <activity
            android:name="com.acadep.acadepsistemas.rso.Clases.ExtraordinaryActivity"
            android:label="Extraordinario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.acadep.acadepsistemas.rso.Clases.EvidenceActivity"
            android:label="Evidencia"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.acadep.acadepsistemas.rso.Clases.LoginActivity"></activity>
    </application>

</manifest>